<app-admin></app-admin>
<div>
    <form #userForm="ngForm" (ngSubmit)='updateCategory(userForm.value)' style="margin-top: 50px; margin-left: 400px;">
        <h3 style="margin-left: 130px;">Update Category</h3>
        <br>    
          <div class="form-group col-md-6">
            <label for="categoryname">Enter Category Name to Update</label>
            <input type="text" class="form-control" name="name" placeholder="Enter Category name" pattern="[A-Za-z]" [(ngModel)]="category.name" required>
        </div>
          <br>
        <button type="submit" style="margin-left: 150px;" class="btn btn-primary">Update</button>
      </form>
</div>