<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 p-5">
      <img
        class="card-img-top mx-5 w-100"
        src="{{ product.image }}"
        alt="Card image"
      />
    </div>
    <div class="col-lg-6 p-5">
      <h5>
        {{ product.brand }} {{ product.name }} | {{ product.category.name }}
      </h5>
      <p class="text-primary">Brand: {{ product.brand }}</p>
      <p>
        <span class="bg-dark text-warning px-2">Revature's choice</span> for "{{
          product.brand
        }}"
      </p>
      <hr />
      <p class="mt-0 mb-0">
        M.R.P.: <del>₹{{ product.mrp + 500 }}</del>
      </p>
      <p class="mt-0 mb-0">
        Price: <span class="h5 text-danger">₹{{ product.mrp }}</span>
      </p>
      <p class="mt-0 mb-0">
        You Save: <span class="h6 text-danger">₹500.00</span>
      </p>
      <p class="mt-0 mb-0">Inclusive of all taxes</p>
      <p>EMI starts at ₹329. No Cost EMI available</p>
      <div class="d-flex flex-wrap">
        <div class="flex-item" style="width:80px;font-size:12px">
          <img
            src="https://images-na.ssl-images-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-cod._CB485937110_.png"
            style="width:40px"
          />
          <p class="text-primary">Pay on Delivery</p>
        </div>
        <div class="flex-item" style="width:80px;font-size:12px">
          <img
            src="https://images-na.ssl-images-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-returns._CB484059092_.png"
            style="width:40px"
          />
          <p class="text-primary">7 Days Replacement</p>
        </div>
        <div class="flex-item" style="width:80px;font-size:12px">
          <img
            src="https://images-na.ssl-images-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-warranty._CB485935626_.png"
            style="width:40px"
          />
          <p class="text-primary">1 Year Warranty</p>
        </div>
      </div>
      <hr />
      <h5 class="text-success">In stock.</h5>
      <p class="mb-0">Brand: {{ product.brand }}</p>
      <p>Category: {{ product.category.name }}</p>
      <h6>About this item</h6>
      <p>{{ product.description }}</p>
    </div>
    <div class="col-lg-3">
      <p class="mb-0">Advertisement</p>
      <img src="https://m.media-amazon.com/images/I/41gK4etffVL.jpg" alt="" />
    </div>
  </div>
</div>
