<app-navbar></app-navbar>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div>
        <div
          class="
            shadow-none
            p-3
            mb-5
            bg-light
            rounded
            d-flex
            justify-content-between
          "
        >
          <div class="overflow-auto"></div>
          <div>
            <b>Payment Method</b><br />
            {{ order.modeOfPayment }}
          </div>
          <div>
            <b>Order Summary</b><br />
            <table>
              <tr>
                <td></td>
              </tr>
            </table>
            Item(s) Subtotal: {{ order.totalPrice }}<br />
            Discount: {{ order.discount }}%<br />
            Discount Amount:{{ discountAmount }}<br />
            Grand Total:{{ grandTotal }}<br />
          </div>
        </div>
      </div>

      <p></p>

      <div>
        <div
          class="
            shadow-none
            p-3
            mb-5
            bg-light
            rounded
            d-flex
            flex-wrap
            justify-content-between
          "
        >
          <div class="row mb-3 border" *ngFor="let orderItem of order.orders">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{{ orderItem.product.image }}"
                  class="img-fluid rounded-start"
                  alt="Image"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    {{ orderItem.product.brand }} |
                    {{ orderItem.product.name }} |
                    {{ orderItem.product.category.name }}
                  </h5>
                  <p class="card-text">
                    {{ orderItem.product.description }}
                  </p>
                  <label>
                    Price:
                    <span style="color:red;">
                      ₹{{ orderItem.product.mrp + 10 }}
                    </span> </label
                  ><br />
                  <label
                    >M.R.P:
                    <span class="text-decoration-line-through"
                      >₹{{ orderItem.product.mrp }}</span
                    ></label
                  >
                  <h6>Save ₹10</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
